* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background: #b7c4ba;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    padding: 26px;
    font-size: 2em;
    color: #fff;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.antique{
    color: antiquewhite;
}

.olive{
    color: #b7c4ba;
}

.yellow {
    color: #d6d9a9;
}

#taskList {
    list-style-type: none;
    padding: 0;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#taskList li {
    margin: 12px 0;
    padding: 4px;
    border: none;
    width: 200px;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.3);
    background: #d6d9a9;
    color: #ffffff;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    align-items: center;
}


button{
    cursor: pointer;
}

.container {
    margin-top: 10vh;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 8px;
    background: #b1abb5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
}

.inner-container{
    display: flex;
    gap: 10px 10px;
    padding-bottom: 15px;
}

#addTask {
    margin: 5px;
    width: 54px;
    border: none;
    border-radius: 7px;
    padding: 8px;
    background: #b7c4ba;
    flex: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
}

#addTask:hover{
    background: #a6bdabc6;
    color: #ffffff;
}

.removeTask {
    border: none;
    background: #ff7575c6;
    color: #ffffff;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 50%;
}

input[type='text'] {
    max-width: 40vw;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}